Repository NIST-ISODB/isodb-library: changes, and which pre-commit hooks are due for each by the changed paths.
All: unique-dois, doi-mapping, pressures

unique-dois:
  name: Check that DOIs are unique
  entry: python ./.github/validate.py doi-uniqueness
  language: system
  pass_filenames: false

doi-mapping:
  name: Check that DOI mapping is consistent
  entry: python ./.github/validate.py doi-mapping
  language: system
  pass_filenames: false

pressures:
  name: Check consistency of pressures
  entry: python ./.github/validate.py pressures
  language: system
  pass_filenames: true

data: corrected DOI mapping that was not synced correctly
  DOI_mapping.csv
Due: unique-dois, doi-mapping

data: corrected isotherms (wrong adsorbent) for 10.1002/hlca.201200466. Note: removed one isotherm as there was a duplicate
  DOI_mapping.csv
  Library/10.1002hlca.201200466/10.1002hlca.201200466.isotherm1.json
  Library/10.1002hlca.201200466/10.1002hlca.201200466.isotherm2.json
  Library/10.1002hlca.201200466/10.1002hlca.201200466.isotherm3.json
  Library/10.1002hlca.201200466/10.1002hlca.201200466.isotherm4.json
  Library/10.1002hlca.201200466/10.1002hlca.201200466.isotherm5.json
  Library/10.1002hlca.201200466/10.1002hlca.201200466.isotherm6.json
  Library/10.1002hlca.201200466/10.1002hlca.201200466.isotherm7.json
  Library/Bibliography/10.1002hlca.201200466.json
Due: unique-dois, doi-mapping, pressures

data: corrected DOI mapping
  DOI_mapping.csv
Due: unique-dois, doi-mapping

data: correct isotherms and bibliography for 10.1039/c5cc05779e per user feedback
  Library/10.1039c5cc05779e/10.1039c5cc05779e.Isotherm1.json
  Library/10.1039c5cc05779e/10.1039c5cc05779e.Isotherm10.json
  Library/10.1039c5cc05779e/10.1039c5cc05779e.Isotherm4.json
  Library/10.1039c5cc05779e/10.1039c5cc05779e.Isotherm7.json
  Library/Bibliography/10.1039c5cc05779e.json
Due: none

data: re-digitize isotherms, update bibliography, add synonyms for adsorbents for 10.1006/jcis.2000.7399 per user feedback
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm1.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm10.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm11.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm12.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm13.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm14.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm2.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm3.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm4.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm5.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm6.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm7.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm8.json
  Library/10.1006jcis.2000.7399/10.1006jcis.2000.7399.Isotherm9.json
  Library/Adsorbents/NIST-MATDB-0913083813d68adf8b947ba9f06486ee.json
  Library/Adsorbents/NIST-MATDB-1630f1380ee5fb797cff8c9475551e6d.json
  Library/Adsorbents/NIST-MATDB-40d4a7376d3e9a8ef483fd49b88a2cc4.json
  Library/Adsorbents/NIST-MATDB-46a41b23a00f006f41682d75010629e9.json
  Library/Adsorbents/NIST-MATDB-aa28bd0cd6f6ff8abc878f5ab9757956.json
  Library/Bibliography/10.1006jcis.2000.7399.json
Due: none

chore: corrected author names and updated select ORCid
  Library/Bibliography/10.1007s10450020002530.json
  Library/Bibliography/10.1007s10450026007013.json
Due: none

Path conditions:
  unique-dois: any of: DOI_mapping.csv
  doi-mapping: any of: DOI_mapping.csv
  pressures: any of: (?x)^(
    Library/.*/.*isotherm.*json
)$
